html,
body {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body {
  position: relative;
  display: inline-flex;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  background-color: black;
  background-image: url("./assets/Frame_1.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
}

#root {
  position: absolute;
  width: 100%;
  top: 6%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

